.bug {background-color: darkolivegreen;}
.dark {background-color: indigo;}
.dragon {background-color: royalblue;}
.electric {background-color: gold;}
.fairy {background-color: fuchsia;}
.fighting {background-color: brown;}
.fire {background-color: orange;}
.flying {background-color: deepskyblue;}
.ghost {background-color: blueviolet;}
.grass {background-color: green;}
.ground {background-color: bisque;}
.ice {background-color: lightskyblue;}
.normal {background-color: gainsboro;}
.poison {background-color: darkorchid;}
.psychic {background-color: deeppink;}
.rock {background-color: peru;}
.steel {background-color: dimgrey;}
.water {background-color: mediumblue}
